<div class="post">
  <div class="body">
    <div class="page-header">
      <h2>{{post.title}}</h2>
    </div>
    <p>{{{post.body}}}</p>
    <a class="button-back" href="/posts" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
  </div>
</div>